# Python & Jupyter
venv/
.ipynb_checkpoints/
**/__pycache__

# Proprietary files
proprietary/

# Random shell scripts
**.sh

# Personal TODO's
TODO.md

# Output files
**.zip
depth_maps/

# Ignore draft templates and metadata
paper/*.md
paper/*.aux
paper/*.log
paper/*.pdf
